/*スクロールボタンの指定*/

.scroll {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.scroll a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-decoration: none;
    padding: 0 0 50px;
}


/*矢印を作成する*/

.scroll a:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    right: 0;
    bottom: 25px;
    margin: auto;
    border-bottom: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
    transform: rotate(45deg);
    animation: move 2s infinite;
}

section {
    max-width: 800px;
    padding: 50px 25px;
    margin: 0 auto;
}

section h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 25px;
}

section p {
    line-height: 1.8;
    margin: 0 0 15px;
}


/*矢印をアニメーションする*/

@keyframes move {
    0% {
        transform: rotate(45deg) translate(0, 0);
    }
    20% {
        transform: rotate(45deg) translate(10px, 10px);
    }
    40% {
        transform: rotate(45deg) translate(0, 0);
    }
}